.data{
color:darkgreen;
text-align: center;
}
.head{
    color: blue;
    text-align: center;
}
.sand
{
    text-decoration: darkslateblue;
    font-weight: bold;
    font-size: x-large;
    padding-left: 4%;
}
.about
{
    padding-left: 20%;
    font-weight: bold;
    font-size: large;
    padding-top: 30px;
}
.in
{
    padding-left: 20%; 
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:0.5cm;
    white-space: initial;
}
.qu
{
    padding-left: 30px; 
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:0.5cm;
    padding-top: 5px;
    white-space: initial;
}
.p{
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:0.5cm;
    padding-left:0.1%;
    white-space: initial;
}
.main{
    width: 77%;
}
.customer{
    border-collapse: collapse;
    margin: 6 auto;
    width: 96%;
}
th,td{
    border: 1px solid #ddd;
    padding: 10px;
    white-space: pre-wrap;
    word-break: break-word;
}
.desc
{
    padding-top: 1px;
    white-space: initial;
    word-break: break-word;
}
.support
{
    padding-top: 2px;
    padding-left: 2px;
}
.c
{
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:0.5cm;
    white-space: initial;
}
.int
{
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:0.5cm;
    white-space: initial;
    padding-left: 0.1%;
}
.cards
{
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    height: 60px;
    color: #000;
    background-color: darkslateblue;

}
.card{
    position: fixed;
    width: 100%;
    white-space: initial;
}
.sands
{
    color: floralwhite;
    padding-left: 2px;
}
.ins{
    padding-left: 0.01%; 
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:0.5cm;
    white-space: initial;
}
.cardDiv{
    display: flex;
    word-break: break-word;
}